<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @tourist.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @tourist.lastname %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @tourist.mobile %>
</p>

<p>
  <strong>Email:</strong>
  <%= @tourist.email %>
</p>

<%= link_to 'Edit', edit_tourism_path(@tourist) %> |
<%= link_to 'Back', root_path %>
