<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @supplier.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @supplier.age %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @supplier.dob %>
</p>

<p>
  <strong>City:</strong>
  <%= @supplier.city %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @supplier.gender %>
</p>

<p>
  <strong>State:</strong>
  <%= @supplier.state %>
</p>

<p>
  <strong>Income:</strong>
  <%= @supplier.income %>
</p>

<p>
  <strong>Address:</strong>
  <%= @supplier.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @supplier.description %>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
